<!DOCTYPE html>
<html>
    <head>
        <title>My blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'components/bootstrap/docs/assets/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'components/bootstrap/docs/assets/css/bootstrap-responsive.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/code.css' %}"/>
        <link rel="icon" href="/favicon.ico">
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            {% load flatpages %}
                            {% get_flatpages as flatpages %}
                            {% for flatpage in flatpages %}
                            <li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
                            {% endfor %}
                            <li><a href="/feeds/posts/">RSS feed</a></li>
                            <!-- Search -->

                            <form action="/search" method="GET" class="navbar-search pull-right">
                                <input type="text" name="q" placeholder="Search..." class="span2 search-query"></input>
                            </form>
                            <!-- End search -->

                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="container"> 
            {% block content %}
            {% endblock %}

        </div>
        <script language="javascript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="{% static 'components/bootstrap/docs/assets/js/bootstrap.min.js' %}"></script>
    </body>
</html>
