<!DOCTYPE html>
<html>
    <head>
        <title>My blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/components/bootstrap/docs/assets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/components/bootstrap/docs/assets/css/bootstrap-responsive.css">
    </head>
    <body>
        <div class="container"> 
            {% load flatpages %}
            {% get_flatpages as flatpages %}
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        {% for flatpage in flatpages %}
                        <li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
