        {% include 'layout/header.html' %}
        {% load markup %}
        <h1>My blog</h1>
        <div class="post">
        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        {{ post.html_text|markdown }}
        <p>Posted {{ post.pub_date }}</p>
        <p>
        {% for category in post.categories.all %}
            <a class="badge badge-info" href="/category/{{ category.slug }}/">{{ category.title }}</a>
        {% endfor %}
        </p>
        <h4>Comments</h4>
        <div class="fb-comments" data-href="http://{{ post.site }}" data-width="470" data-num-posts="10"></div>
        </div>
        <br />
        </div>
        {% include 'layout/footer.html' %}
