        {% extends 'layout/base.html' %}

        {% block header %}
        <div class="page-header">
            <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        </div>
        {% endblock %}

        {% load markup %}
        {% block content %}
        <div class="post">
        {{ post.html_text|markdown }}
        <p>Posted {{ post.pub_date }}</p>
        <p>
        {% for category in post.categories.all %}
            <a class="badge badge-info" href="/category/{{ category.slug }}/">{{ category.title }}</a>
        {% endfor %}
        </p>
        <h4>Comments</h4>
        <div class="fb-comments" data-href="http://{{ post.site }}" data-width="470" data-num-posts="10"></div>
        </div>
        <br />
        </div>
        {% endblock %}
