pre {
    background-color: #000000;
}

pre.line-numbers {
    display: none;
}

blockquote {
    background-color: #efefef;
    padding: 20px;
}

blockquote p {
    font-style: italic;
}

div.nav {
    width: 75%;
}
